<div class="row">
  <h2 align="center"><%= @merit_badge.title %></h2>
  <div class="merit-badge-icon center">
    <% if !@merit_badge.img_url.nil? %>
      <img src="<%= @merit_badge.img_url %>" alt="<%= @merit_badge.title %> icon" width="100px" height="100px" />
    <% end %>  
  </div>
  <p align="center">
    <% if @merit_badge.eagle_required %><span class="label label-default">Eagle Required</span><% end %>
    <% if !@merit_badge.active %><span class="label label-danger">Merit Badge Discontinued</span><% end %>
  </p>
</div>
<% if !@merit_badge.special_counselor_requirements.blank? %>
  <br />
  <div class="row">
    <div class="col col-lg-8 col-md-offset-2">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Special Counselor Requirements</h3>
        </div>
        <div class="panel-body">
          <p><%= @merit_badge.special_counselor_requirements %></p>
        </div>
      </div>
    </div>
  </div>
  <br />
<% end %>

<div class="row">
  <div class="col col-lg-8 col-md-offset-2">
  -- Counselor list partial goes here --
  </div>
</div>

<% if current_user.role.permission_view == "admin" %>
  <br />
  <div class="row">
    <div class="col col-lg-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-body">
          <div>
            <%= link_to "Edit", edit_merit_badge_path(@merit_badge), class: "btn btn-primary btn-sm" if current_user.role.permission_update == "admin" %>
            &nbsp;
            <%= link_to "Delete", merit_badge_path(@merit_badge),  method: :delete, data: {confirm: "Are you sure you want to delete the #{@merit_badge.title} merit badge?"}, class: "btn btn-danger btn-sm" if current_user.role.permission_delete == "admin" %>
          </div>
        </div>
        <div class="panel-footer">
          <p><em>Last updated <%= time_ago_in_words(@merit_badge.updated_at) %> ago by <%= @merit_badge.updated_by %></em></p>
        </div>
      </div>
    </div>
  </div>
<% end %>